################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyWebApp/Properties
/.vs/VSWorkspaceState.json
/.vs/MyWebsite/v17/.wsuo
