<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="https://pngimg.com/d/cookie_PNG13656.png" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Travis Reid's website" />
    <meta property="og:url" content="https://travis-reid.com" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="link-container">
            <a href="/Index">Home</a>
            <a href="/Blog">Blog</a>
            <a asp-controller="Registration" asp-action="Register">Make an Account</a>
            <a href="/Crypto">Cryptographic Challenge</a>
            <a href="/Learn">Learn Programming</a>
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
        <footer>
            <div class="link-container">
                <a href="/Index">Home</a>
                <a href="/Blog">Blog</a>
                <a asp-controller="Registration" asp-action="Register">Make an Account</a>
                <a href="/Crypto">Cryptographic Challenge</a>
                <a href="/Learn">Learn Programming</a>
            </div>
        </footer>
    <script defer src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
