body {
    margin-top: 9.375em;
    color: white;
}

.navigation-link {
    font-size: 2.5em;
    background-color: rgba(152, 150, 150, 0.2);
}

.blog-header {
    margin-left: 2.875em;
    margin-right: 2.875em;
    margin-bottom: 3em;
    padding-top: 2.375em;
    text-align: center;
    font-size: 2.5em;
}

.blog-text {
    text-indent: 1.5em;
    margin-left: 4.5em;
    margin-right: 4.5em;
    margin-top: 1.75em;
    text-align: justify;
    font-size: 1.25em;
    word-spacing: 0.02em !important;
}

#blog-master-container {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10.625em;
    margin-right: 10.625em;
    min-width: 40em;
    background-color: rgb(30, 30, 30);
}

.blog-singleton-container {
    padding-bottom: 2.1875em;
    display: flex-column;
}

.blog-post-signoff {
    text-align: left;
    margin-top: 10em;
    margin-left: 2em;
}

.blog-text .blog-ol {
    margin-top: 3em;
    margin-bottom: 3em;
    text-indent: 1em;
    text-align: left;
}

a {
    font-size: 1em;
}

.image-container {
    margin-top: 3em;
    margin-bottom: 3em;
}