body {
    color: white;
}

.blog-header {
    margin-left: 2.875em;
    margin-right: 2.875em;
    margin-bottom: 3em;
    padding-top: 2.375em;
    text-align: center;
    font-size: 2.5em;
}

.blog-text {
    text-indent: 3em;
    margin-left: 4.5em;
    margin-right: 4.5em;
    margin-top: 1.75em;
    text-align: justify;
    font-size: 1.75em;
    word-spacing: 0.02em !important;
}

#blog-master-container {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 30%;
    margin-right: 30%;
    min-width: 50em;
    max-width: 175em;
    background-color: rgb(30, 30, 30);
}

.blog-singleton-container {
    padding-bottom: 2.1875em;
    display: flex-column;
}

.blog-post-signoff {
    text-align: left;
    margin-top: 10em;
    margin-left: 5em;
}

.blog-text .blog-ol {
    margin-top: 3em;
    margin-bottom: 3em;
    text-indent: 1em;
    text-align: left;
}

.image-container {
    margin-top: 3em;
    margin-bottom: 3em;
}