@media screen and (min-width: 800px) {
    body {
        color: ghostwhite;
        overflow: hidden !important;
    }

    .master-container {
        margin-top: 1em;
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 50%;
        margin-left: 30%;
        margin-right: 30%;
    }

    #ciphered-text {
        color: red;
        font-size: 1.5em;
        padding: 1em;
    }

    #command {
        margin-top: 1em;
        font-size: 2em;
    }

    #taunt {
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 800px) {
    body {
        color: ghostwhite;
        overflow: hidden !important;
    }

    .master-container {
        margin-top: 1em;
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 90%;
        margin-left: 30%;
        margin-right: 30%;
    }

    #ciphered-text {
        color: red;
        font-size: 100%;
        padding: 1em;
    }

    #command {
        margin-top: 5%;
        font-size: 200%;
    }

    #taunt {
        padding-bottom: 5%;
    }
}