@media screen and (min-width: 800px) {
    .link-list {
        text-align: left;
        margin-left: 3em;
        margin-top: 5em;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 800px) {
    .link-list {
        text-align: left;
        margin-left: 3%;
        margin-top: 3%;
        font-size: 100%;
    }
}
