@media screen and (min-width: 800px) {
    body {
        overflow: hidden !important;
    }

    #registration-container {
        display: flex;
        flex-direction: column;
        margin-left: 30%;
        margin-right: 30%;
        min-width: 25em;
        color: ghostwhite;
        background-color: rgb(20, 20, 20);
        font-size: 2em;
    }

    .register-button {
        font-size: 0.9em;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 5em;
    }

    .form-group {
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        align-self: center;
        justify-self: center;
    }

    #register-form {
        display: flex;
        flex-direction: column;
        vertical-align: auto;
    }

    label {
        width: 5em;
    }

    input {
        width: 13em;
    }
}

@media screen and (max-width: 800px) {
    body {
        overflow: scroll !important;
    }

    #registration-container {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        padding-right: 5%;
        width: 80%;
        color: ghostwhite;
        background-color: rgb(20, 20, 20);
        font-size: 100%;
    }

    .register-button {
        font-size: 0.9em;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 5em;
    }

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        align-self: center;
        justify-self: center;
    }

    #register-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        vertical-align: auto;
    }

    label {
        width: 70%;
    }

    input {
        width: 100%;
    }
}
