html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#master-container {
    width: 70em;
    height: 100em;
    display: flex;
    margin-left: 7em;
    margin-right: 100em;
    margin-top: 5em;
    margin-bottom: 0em;
    outline-style: groove;
    outline-color: blue;
}

#search-and-results-column {
    margin-top: 10em;
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
    outline-style: solid;
    outline-color: green;
}

#filter-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    height: 80em;
    margin-left: 5em;
    margin-right: 6em;
    background-color: rgb(2 4 5);
    outline-style: solid;
    outline-color: red;
    outline-style: solid;
    outline-color: green;
}

#search-container {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    z-index: 999;
    align-items: center;
}

#search {
    font-size: 2em;
    background-color: rgb(2 4 5);
    color: white;
}

#results-container {
    width: 100%;
    height: 100%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(2 4 5);
    outline-style: solid;
    outline-width: 1px;
    z-index: 999;
}

.page-button {
    min-width: 50px;
    font-size: 2em;
    background-color: rgb(100, 99, 100);
}

#pager {
    margin-top: 5px;
    margin-bottom: -75px;
    font-size: 1em;
}

#search-button {
    font-size: 2em;
    background-color: rgb(2 4 5);
    color: rgb(116, 116, 116);
}

#search-button:hover {
    background-color: rgb(100, 99, 100);
    color: rgb(2, 4, 5)
}

button:hover {
    background-color: white;
}

.filter {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 70%;
}

.filter h3 {
    font-size: 1.2em;
    color: navy;
}

.filter ul {
    list-style-type: none; /* Remove bullet points */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 40%;
}

.main-filter-checkbox {
    margin-left: 15px; /* Adjust the margin for main filter checkboxes */
    vertical-align: middle; /* Align vertically */
}

.sub-filter-checkbox {
    margin-left: 15px; /* Adjust the margin for sub-filter checkboxes */
    vertical-align: middle; /* Align vertically */
}

label {
    margin-left: 8px; /* Adjust if needed */
    text-align: right;
    color: rgb(255, 255, 255)
}

.show-more-button {
    margin-left: 2em;
    font-size: 1em;
    background-color: rgb(100, 100, 100);
}

.sub-filters {
}