.main-container {
    flex: 1;
}

@media screen and (min-width: 800px) {
    html {
        padding: 0;
        margin: 0;
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    h2 {
        color: ghostwhite;
        margin-bottom: 1em;
    }

    .WIP {
        color: gray;
        font-size: 2em;
        margin-bottom: 1em;
    }

    a {
        font-size: 1.5em;
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 1px solid blue;
        color: blue;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        background-image: url(/img/red-geometric.jpg);
        background-size: cover;
    }

    header {
        margin-top: 0;
        margin-bottom: 5em;
        background-color: rgb(20, 20, 20);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 5em;
    }

    header .link-container {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: blue;
    }

    header .link-container a {
        margin-left: 1em;
    }

    footer {
        position: inherit;
        margin-top: 3%;
        margin-bottom: 0;
        padding-bottom: 0%;
        background-color: rgb(20, 20, 20);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 5%;
    }

    footer .link-container {
        margin-top: 1%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    footer .link-container * {
        margin-left: 1em;
        font-size: 1em;
        color: darkgray;
    }

    main {
        min-height: 74vh !important;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .centered {
        width: 100%;
        margin-left: 0%;
        margin-right: 50%;
    }

    .dark-background {
        background-color: rgb(20, 20, 20);
    }
}

@media screen and (max-width: 800px) {
    html {
        height: 100vh;
        padding: 0;
        margin: 0;
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    h2 {
        color: ghostwhite;
        margin-bottom: 1em;
    }

    .WIP {
        color: gray;
        font-size: 2em;
        margin-bottom: 1em;
    }

    a {
        font-size: 80%;
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 1px solid blue;
        color: blue;
    }

    body {
        background-image: url(/img/red-geometric.jpg);
        background-size: cover;
        overflow: scroll !important;
    }

    header {
        margin-top: 0;
        margin-bottom: 10%;
        padding-bottom: 3%;
        background-color: rgb(20, 20, 20);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .link-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: blue;
    }

    header .link-container a {
        margin-top: 5%;
        margin-left: 0;
        margin-right: 5%;
        font-size: 85%;
    }

    footer {
        position: inherit;
        margin-top: 3%;
        margin-bottom: 0;
        padding-bottom: 0%;
        background-color: rgb(20, 20, 20);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 5%;

    }

    footer .link-container {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    }

    footer .link-container * {
        margin-left: 1em;
        margin-top: 2%;
        font-size: 70%;
        color: darkgray;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .centered {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .dark-background {
        background-color: rgb(20, 20, 20);
    }

    main {
        min-height: 100% !important;
    }
}
