html {
    height: 100vh;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(6, 6, 6);
    background-image: url('~/img/backgroundposter.png');
}

h1 {
    color: white;
}

.navigation-link {
    font-size: 2.5em;
    background-color: rgba(152, 150, 150, 0.2);
}

#background-video {
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100vw; /* Width equal to 100% of the viewport width */
    height: 100vh; /* Height equal to 100% of the viewport height */
    z-index: -1000; /* Place it behind everything else in the document */
    object-fit: cover; /* Ensure video covers the entire element box */
    overflow: hidden; /* Hide the overflow */
}
