@page
@model MyWebApp.Pages.blogModel
@{
}
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/css/blog.css">
</head>
<html>
<body>
	<div style="margin-bottom: 100px;">
		<a href="index"> Go home </a>
	</div>
	<div class="blog-master-container">
		<div class="blog-singleton-container">
			<p class="blog-header">This is a sample blog header</p>
			<p class="blog-text">
				This is a sample blog text. This can be very verbose and
				continue to be written as such in this block-text format.
				Additionally, it might be worth considering that this can
				be a difficult-to-maintain way to write text, but as always,
				it's worth considering both the pros and cons of such a system.
				Generally speaking, I do prefer simplicity.
			</p>
			<p class="blog-text">
				Let's continue. For example, this is more text. However, I'm
				writing this in-line in my blog.cshtml file and not referencing
				it from a text file. It would be more complex and take more time
				to render in the text from the text file since it cannot be simply
				included, but must be queried and retrieved from the code files
				once the page has finished loading. Sometimes, the advantages of
				extensibility can outweigh the advantages of simplicity and performance.
			</p>
			<p class="blog-post-signoff">
				Written on November 23rd, 2023 by Travis Reid
			</p>
		</div>
		<div class="blog-singleton-container">
			<p class="blog-header"> This is a sample blog header </p>
			<p class="blog-text">
				This is some more blog text.
			</p>
		</div>
	</div>
</body>

</html>