@page
@model MyWebApp.Pages.CryptoModel
@{
}
<html>
<head>
	<link rel="stylesheet" href="~/css/crypto.css">
</head>
<body>
	<main>
	<div class="flex-column">
	<h3>Cryptographic Challenge</h3>
	<div class="master-container flex-column dark-background">
		<p id="command">Decrypt Me:</p>
		<p id="ciphered-text">
			Rg'h rnkligzmg gl szev z yrt hznkov hrav dsvm blf wvxlwv gvcg hl blf xzm szev zm zkkilkirzgv znlfmg lu gvcg gl xlnkziv ztzrmhg. Gsrh rmxofwvh gsrmth orpv uivjfvmxb zmzobhrh, kzggvim zmzobhrh, zmw vevm gsv zyrorgb gl wvgvxg dsrxs xibkgltizksrx kzggvim rh yvrmt fhvw vevm drgslfg hloermt gsv xrksvi. Uligfmzgvob, gsrh rhm'g zh xlnkorxzgvw zh gsv ertvmviv xrksvi, hl gsrh lmv hslfow yv vzhb. Tllw ofxp!
		</p>
		<h3 id="taunt">Try to break it!</h3>
	</div>
	</div>
	</main>
</body>

</html>