@page
@model MyWebApp.Pages.CryptoModel
@{
}
<html>
<head>
	<link rel="stylesheet" href="~/css/crypto.css">
</head>
<body>
	<div style="margin-top: 6em;">
		<a class="navigation-link" href="Index">Home</a>
	</div>
	<h1 class="title" style="margin-top: 2em;">Cryptographic challenge</h1>
	<div style="background-color: rgb(20, 20, 20)">
		<h2 class="challenge">Decrypt me:</h2>
		
		@* Note: It is unlikely they will inspect element to discover the ==hint== of whether or not it's a substitution cipher *@
		<p class="text-to-decrypt">
			Rg'h rnkligzmg gl szev z yrt hznkov hrav dsvm blf wvxlwv gvcg hl blf xzm szev zm zkkilkirzgv znlfmg lu gvcg gl xlnkziv ztzrmhg. Gsrh rmxofwvh gsrmth orpv uivjfvmxb zmzobhrh, kzggvim zmzobhrh, zmw vevm gsv zyrorgb gl wvgvxg dsrxs xibkgltizksrx kzggvim rh yvrmt fhvw vevm drgslfg hloermt gsv xrksvi. Uligfmzgvob, gsrh rhm'g zh xlnkorxzgvw zh gsv ertvmviv xrksvi, hl gsrh lmv hslfow yv vzhb. Tllw ofxp!
		</p>
		<p>I bet you can't break it!</p>
		<p style="padding-bottom: 2em;">Send broken ciphers to Travisreid0903@gmail.com so they can be repaired</p>
	</div>
</body>

</html>