@page
@model MyWebApp.Pages.GameModel
@{
}


<html>

	<head>
		<title>Tic Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="~/css/game.css"/>
	</head>

	<body>
	<p class="blog-header" style="padding-top: 2em;">Tic Tac Toe</p>
    <h1 style="padding-top: 3em;">This is a work in progress and serves as a testing grounds</h1>
    <br />
    <br />
    <a href="Index">Home</a>
    <div class="container">
        <table>
            <tr>
                <td id="1"></td>
                <td id="2"></td>
                <td id="3"></td>
            </tr>
            <tr>
                <td id="4"></td>
                <td id="5"></td>
                <td id="6"></td>
            </tr>
            <tr>
                <td id="7"></td>
                <td id="8"></td>
                <td id="9"></td>
            </tr>
        </table>
    </div>


	</body>
</html>
