@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="https://pngimg.com/d/cookie_PNG13656.png" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Travis Reid's website" />
    <meta property="og:url" content="https://travis-reid.com" />

    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/home.css">
</head>

<body>
    <main>
    <div class="flex-column">
        <div class="text-container break-container">
            <h3>Welcome to my site!</h3>
        </div>
        <div class="text-container pad-me">
            <p>
                This is a personal project intended to develop
                my skills in fullstack web development and the
                use of AWS utilities to host and manage deployments
                of new versions of my web app.
            </p>
            <p>Here are some AWS utilities I'm using:</p>
            <ul>
                <li>Route 53 (Managing my domain)</li>
                <li>Elastic Beanstalk (Deploying code)</li>
                <li>IAM (Identity Access Management)</li>
                <li>S3 (Basic logging)</li>
                <li>RDS (Relational Database Service)</li>
                <li>Certificate Manager (Getting HTTPS)</li>
            </ul>
            <p class="gap-above">
                This website is still a work in progress, but I'm
                doing my best to improve it every day and use it
                as an avenue for continuous learning.
            </p>
        </div>
    </div>
    </main>
</body>

</html>