@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="https://pngimg.com/d/cookie_PNG13656.png" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Travis Reid's website" />
    <meta property="og:url" content="https://travis-reid.com" />

    <link rel="stylesheet" href="~/css/


">
    <link rel="stylesheet" href="~/css/home.css">
</head>

<body>
    <main>
    <div class="flex-column">
        <div class="text-container break-container">
            <h3>Welcome to my site!</h3>
        </div>
        <div class="text-container pad-me">
            <p style="margin-bottom: 0.5em;">
                This website displays my ability
                to rapidly prototype a AWS-based
                web application. It is a lightweight,
                site that took less than a day to go
                from zero-code to being hosted on AWS.
            </p>
            <p style="margin-bottom: 0.5em;">Here are some AWS utilities I'm using:</p>
            <ul style="margin-bottom: 1.5em;">
                <li>Route 53 (Managing my domain)</li>
                <li>Elastic Beanstalk (Deploying code)</li>
                <li>IAM (Identity Access Management)</li>
                <li>S3 (Basic logging)</li>
                <li>RDS (Relational Database Service)</li>
            </ul>
            <p class="gap-above">
                This website is a proof of concept that
                shows how rapidly a cloud-hosted website
                can be prototyped.
            </p>
        </div>
    </div>
    </main>
</body>

</html>