@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>

<head>

</head>

<body>
    <div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1> Hello everyone, this page belongs to Travis Reid </h1>
        <br />
        <h1> Also, hi mom!</h1>
    </div>
</body>

</html>