@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p> Web Skeleton 9:03PM</p>
    <p> This is a custom-built web application skeleton used to verify that basic web functionality is indeed running and hosted </p>
    <p> Here's an image of an alchemy flowchart I made for the game Barony, taking a computer science-inspired approach: </p>
    <img src="img/Alchemy Flowchart.png"/>
    <br />
    <br />
    <br />
    <p> This concludes the skeleton page. </p>
    <p> Made by Travis Reid </p>
</div>
