@page
@model IndexModel
@{
    ViewData["Title"] = "Lobby";
}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="https://pngimg.com/d/cookie_PNG13656.png" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Travis Reid's website" />
    <meta property="og:url" content="https://travis-reid.com" />

    <link rel="stylesheet" href="~/css/home.css">
</head>

<body>
    <div>
        <div style="margin-top: 5em; display: flex; flex-direction: column;">
            <h1 style="margin-bottom: 0.5em; ">Welcome to my site</h1>
            <div style="background-color: rgb(20, 20, 20); width: 35em; align-self: center; padding-bottom: 3em;">
                <div style="margin-top: 2em;">
                    <a href="Blog">Blog</a>
                    <br /> <br /> <br /> <br />
                    <a asp-controller="Registration" asp-action="Register">Make Account</a>
                    <br /> <br /> <br /> <br />
                    <a href="Crypto">Cryptographic Challenge</a>
                    <br /> <br /> <br /> <br />
                    <a href="Search">Search</a>
                    <br /> <br /> <br /> <br />
                    <a href="Learn">Learn Programming</a>
                </div>
            </div>
        </div>
    </div>

    <div style="color:rgb(40, 40, 40); background-color: rgb(0, 0, 0); width: fit-content; margin-left: 36em; margin-right: 30em;">
        Made by Travis Reid
    </div>
</body>

</html>