@page
@model MyWebApp.Pages.RegistrationModel
@{
	ViewData["Title"] = "Registration";
}
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<p style="font-size: 10em; color: white;"> Register here! </p>

    <div class="registration-container">

	    <form method="post" action="Register">
            <div>
                <label for="username" class="form-class">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
        <br />
            <div>
                <label for="password" class="form-class">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
        <br />
            <div>
                <label for="email" class="form-class">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
        <br />
        <input class="register-button" type="submit" value="Register">

        </form>
    </div>
</body>

</html>
